static/downloads/FLO-002_Workflow.json
{
  "name": "Email_To_GTasks_Flow_v2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread"
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Extract the core 'Action Item' and a 'Summary' from this email. Return valid JSON only. Email Body: {{$json.snippet}}\"\n    }]\n  }]\n}"
      },
      "name": "Gemini API (Universal)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "={{ $json.candidates[0].content.parts[0].text }}",
        "notes": "Processed by Gemini 1.5 Flash via HTTP"
      },
      "name": "Create GTask",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gemini API (Universal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API (Universal)": {
      "main": [
        [
          {
            "node": "Create GTask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}